h1 {
    color:red;
}

body {
    background: linear-gradient(to right, black 0%, #6e6053 100%);
    color:white;

    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


p a {
    color: orange;
}

/* Commentaire */
li {
    font-family:cursive;
    font-style:italic;
}

ol li {
    font-family: 'Courier New', Courier, monospace;
}


img {
    border: 3px solid white;
    border-radius: 50px;
    width: 400px;
    height: 400px;
}

.retour {
    font-family: Arial, Helvetica, sans-serif;
}


input[type='range']{
    width: 270px;
    accent-color: red;
    position: relative;
    transform: scale(1.5);
    transform-origin: 0 0;
}

.pagination {
    display: inline-block;
}

.pagination a {
    color:rgb(255, 255, 255);
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
}

.pagination a:hover:not(.active) {background-color: #ddd;}